#version=DEVEL

%pre --interpreter=/bin/sh
mac=$(ip --brief link show dev {{ network_interface }} | tr -s ' ' | cut -d ' ' -f 3 | sed 's/:/-/g')
curl "http://{{ ansible_default_ipv4.address }}/kickstart/network/$mac.ks" > /tmp/network.ks
%end

# Do not use graphical install
text

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Partition clearing information
clearpart --all --drives={{ disk }}
# Partitioning
ignoredisk --only-use={{ disk }}
# TODO (bug) Fix only 15GiB root partition
autopart

# Network information
%include /tmp/network.ks

# Use network installation
url --url="http://{{ ansible_default_ipv4.address }}/Fedora/"
# Disable Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Ho_Chi_Minh --utc

# Create user
user --groups=wheel --name={{ os_username }} --password={{ os_password }}
# Add SSH key
sshkey --username=root "{{ ssh_public_key }}"

%packages
@^server-product-environment

%end

reboot
