loki-stack:
  loki:
    enabled: true
    ingress:
      enabled: false

    # podSecurityPolicy deprecated in k8s 1.25
    rbac:
      pspEnabled: false

    persistence:
      enabled: true
      size: 50Gi
      storageClassName: zfs-local-dataset

    config:
      table_manager:
        retention_deletes_enabled: true
        # 30 days
        retention_period: 720h

    replicas: 1

    resources:
      limits:
        cpu: 2
        memory: 4Gi
      requests:
        cpu: 200m
        memory: 256Mi

    serviceMonitor:
      enabled: true
      additionalLabels:
        release: monitoring

  # Needed for Alerting: https://grafana.com/docs/loki/latest/rules/
  # This is just a simple example, for more details: https://grafana.com/docs/loki/latest/configuration/#ruler_config
  #  ruler:
  #    storage:
  #      type: local
  #      local:
  #        directory: /rules
  #    rule_path: /tmp/scratch
  #    alertmanager_url: http://alertmanager.svc.namespace:9093
  #    ring:
  #      kvstore:
  #        store: inmemory
  #    enable_api: true

  #  alerting_groups:
  #    - name: example
  #      rules:
  #      - alert: HighThroughputLogStreams
  #        expr: sum by(container) (rate({job=~"loki-dev/.*"}[1m])) > 1000
  #       for: 2m
  #
  #
  #

  # https://grafana.com/docs/loki/latest/installation/helm/
  promtail:
    enabled: true
    resources:
      limits:
        cpu: 1
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi
    # Add additional scrape config
    # https://grafana.com/docs/loki/latest/installation/helm/#run-promtail-with-systemd-journal-support
    extraScrapeConfigs:
      - job_name: journal
        journal:
          path: /var/log/journal
          max_age: 12h
          labels:
            job: systemd-journal
        relabel_configs:
          - source_labels: ['__journal__systemd_unit']
            target_label: 'unit'
          - source_labels: ['__journal__hostname']
            target_label: 'hostname'

    # Mount journal directory into promtail pods
    extraVolumes:
      - name: journal
        hostPath:
          path: /var/log/journal

    extraVolumeMounts:
      - name: journal
        mountPath: /var/log/journal
        readOnly: true

    serviceMonitor:
      enabled: true
      additionalLabels:
        release: monitoring
    # Enable CRIO log format
    pipelineStages:
      - cri: {}

  # already enabled in additionalDatasources
  grafana:
    enabled: false
    sidecar:
      datasources:
        enabled: false
