config:
  core.https_address: {{ hostvars[inventory_hostname]['ansible_host'] }}:8443
  core.trust_password: {{ lxd_password }}
storage_pools:
- config:
    size: 100GB
  description: ""
  name: default
  # TODO (optimize) Use btrfs in k8s 1.19.8 https://github.com/kubernetes/kubernetes/issues/94335
  driver: lvm
cluster:
  server_name: {{ inventory_hostname }}
  enabled: true
  member_config: []
  cluster_address: ""
  cluster_certificate: ""
  server_address: ""
  cluster_password: ""
