apiVersion: v1
kind: ConfigMap
metadata:
  name: metallb-config
  namespace: {{ metallb_namespace }}
data:
  config: |
    address-pools:
      - name: default
        protocol: layer2
        addresses:
        - 192.168.1.105-192.168.1.133
