postgres-operator:
  configGeneral:
    enable_shm_volume: false

  configMajorVersionUpgrade:
    # "off": no upgrade, "manual": manifest triggers action, "full": minimal version violation triggers too
    major_version_upgrade_mode: "full"
    minimal_major_version: "14"

  configKubernetes:
    enable_pod_antiaffinity: true

  configLoadBalancer:
  # configDebug:
  #   # toggles verbose debug logs from the operator
  #   debug_logging: false

  # arm64 not supported
  nodeSelector:
    kubernetes.io/arch: amd64

  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 250Mi
