nextcloud:
  image:
    repository: nextcloud
    tag: 24.0.6

  ingress:
    enabled: true
    className: nginx-internal
    annotations:
      cert-manager.io/cluster-issuer: internal
      hajimari.io/enable: "true"
      hajimari.io/icon: simple-icons:nextcloud
      hajimari.io/info: File and Calendar server
      nginx.ingress.kubernetes.io/proxy-body-size: 10G
      nginx.ingress.kubernetes.io/server-snippet: |-
        server_tokens off;
        proxy_hide_header X-Powered-By;

        # Rule borrowed from .htaccess to handle Microsoft DAV clients
        location = / {
          if ( $http_user_agent ~ ^DavClnt ) {
            return 302 /remote.php/webdav/$is_args$args;
          }
        }

        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }

        location ^~ /.well-known {

          # The rules in this block are an adaptation of the rules
          # in .htaccess that concern /.well-known.

          location = /.well-known/carddav { return 301 /remote.php/dav/; }
          location = /.well-known/caldav  { return 301 /remote.php/dav/; }

          location /.well-known/acme-challenge    { try_files $uri $uri/ =404; }
          location /.well-known/pki-validation    { try_files $uri $uri/ =404; }

          # Let Nextcloud's API for /.well-known URIs handle all other
          # requests by passing them to the front-end controller.
          return 301 /index.php$request_uri;
        }

        # Rules borrowed from .htaccess to hide certain paths from clients
        location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
          deny all;
        }
        location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
          deny all;
        }

        # Rule borrowed from .htaccess
        #location /remote {
        #    return 301 /remote.php$request_uri;
        #}

      nginx.ingress.kubernetes.io/enable-global-auth: "false"
    tls:
      - hosts:
          - nextcloud.k8s.grigri
        secretName: nextcloud-tls-certificate

  redis:
    enabled: false

  internalDatabase:
    enabled: false
  externalDatabase:
    enabled: true
    type: postgresql
    database: postgres
    existingSecret:
      enabled: true
      secretName: nextcloud.nextcloud-postgres.credentials.postgresql.acid.zalan.do
      usernameKey: username
      passwordKey: password
    host: nextcloud-postgres
  cronjob:
    enabled: true
    failedJobsHistoryLimit: 1
    successfulJobsHistoryLimit: 1

  persistence:
    # Nextcloud Data (/var/www/html)
    enabled: true
    storageClass: longhorn

    accessMode: ReadWriteOnce
    size: 8Gi

    nextcloudData:
      enabled: true
      subPath:
      storageClass: longhorn
      accessMode: ReadWriteOnce
      size: 1000Gi

  resources:
    limits:
      cpu: 2
      memory: 512Mi
    requests:
      cpu: 400m
      memory: 128Mi

  nextcloud:
    host: nextcloud.k8s.grigri
    # host: nextcloud.grigri.cloud
    existingSecret:
      enabled: true
      secretName: nextcloud
      usernameKey: username
      passwordKey: password
      smtpUsernameKey: smtp_username
      smtpPasswordKey: smtp_password
    phpConfigs:
      uploadLimit.ini: |
        upload_max_filesize = 10G
        post_max_size = 10G
        max_input_time = 3600
        max_execution_time = 3600
        default_phone_region = ES
    defaultConfigs:
      .htaccess: true
      redis.config.php: true
    configs:
      proxy.config.php: |-
        <?php
        $CONFIG = array (
          'trusted_proxies' =>
          array(
              0 => '10.42.0.0/16',
          ),
          'forwarded_for_headers' =>
          array (
            0 => 'HTTP_X_FORWARDED_FOR',
          ),
        );
      # Circumvention for client freezes - https://github.com/nextcloud/desktop/issues/5094
      bulkupload.config.php: |-
        <?php
        $CONFIG = array (
          'bulkupload.enabled' => false,
        );

    extraEnv:
      - name: REDIS_HOST
        value: redis
      - name: REDIS_HOST_PORT
        value: "6379"
      - name: REDIS_HOST_PASSWORD
        valueFrom:
          secretKeyRef:
            name: nextcloud
            key: redis_password
    mail:
      enabled: true
      fromAddress: grigriserver
      domain: gmail.com
      smtp:
        host: smtp.gmail.com
        secure: tls
        port: 587
        authtype: LOGIN
    extraVolumes:
      - name: ca-bundle
        hostPath:
          path: /etc/ssl/certs/ca-certificates.crt
          type: File
    extraVolumeMounts:
      - name: ca-bundle
        mountPath: /etc/ssl/certs/ca-certificates.crt
        readOnly: true
  livenessProbe:
    enabled: true
    periodSeconds: 30
  readinessProbe:
    enabled: true
    periodSeconds: 30
  startupProbe:
    enabled: true
    periodSeconds: 20

app-template:
  global:
    fullnameOverride: redis
  image:
    repository: redis
    tag: 7.0.8

  service:
    main:
      ports:
        http:
          enabled: false
        redis:
          enabled: true
          port: 6379

  command:
    - sh
  args:
    - -c
    - >-
      redis-server --requirepass $REDIS_PASSWORD
  resources:
    requests:
      cpu: 23m
      memory: 64M
    limits:
      memory: 64M

  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - nextcloud
          topologyKey: kubernetes.io/hostname

  env:
    REDIS_PASSWORD:
      valueFrom:
        secretKeyRef:
          name: nextcloud
          key: redis_password
