gitea:
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: &host git.pouria.sh
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: gitea-tls-certificate
        hosts:
          - *host
  gitea:
    admin:
      existingSecret: gitea-admin-secret
    config:
      server:
        LANDING_PAGE: explore
        ROOT_URL: https://git.pouria.sh
        OFFLINE_MODE: true
      repository:
        DISABLED_REPO_UNITS: repo.wiki,repo.projects,repo.packages
        DISABLE_STARS: true
        DEFAULT_BRANCH: master
      # TODO it's not reading the username from Dex correctly for now, related issues:
      # https://github.com/go-gitea/gitea/issues/25725
      # https://github.com/go-gitea/gitea/issues/24957
      # oauth2_client:
      #   ENABLE_AUTO_REGISTRATION: true
      #   USERNAME: userid
      service.explore:
        DISABLE_USERS_PAGE: true
      actions:
        ENABLED: false
      webhook:
        ALLOWED_HOST_LIST: private

  postgres:
    enabled: true
  postgresql-ha:
    enabled: false

  # redis-cluster:
  #   enabled: false
  # redis:
  #   enabled: true


