option space pxelinux;
option pxelinux.magic code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;
option architecture-type code 93 = unsigned integer 16;

subnet $SUBNET netmask $NETMASK {
    option routers $GATEWAY;
    range $RANGE_START $RANGE_END;

    class "pxeclients" {
        match if substring (option vendor-class-identifier, 0, 9) = "PXEClient";
        next-server $PXE_SERVER;

        if option architecture-type = 00:07 {
            filename "grubx64.efi";
        }
    }
}
