apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager-secret
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: alertmanager-secret
    template:
      engineVersion: v2
      data:
        alertmanager.yaml: |
          global:
            resolve_timeout: 5m
          inhibit_rules:
            - equal:
                - namespace
                - alertname
              source_matchers:
                - severity = critical
              target_matchers:
                - severity =~ warning|info
            - equal:
                - namespace
                - alertname
              source_matchers:
                - severity = warning
              target_matchers:
                - severity = info
            - equal:
                - namespace
              source_matchers:
                - alertname = InfoInhibitor
              target_matchers:
                - severity = info
          receivers:
            - name: telegram
              telegram_configs:
              - send_resolved: true
                bot_token: "{{ .token }}"
                chat_id: 7055881
                message: {{`'{{ template "telegram.custom.message" .}}'`}}
                parse_mode: Markdown
                # seems optional but complains if not added
                api_url: https://api.telegram.org
            - name: "null"
          route:
            group_by:
              - job
              - severity
              - alertname
            group_interval: 5m
            group_wait: 30s
            receiver: telegram
            repeat_interval: 12h
            routes:
              - match:
                  alertname: Watchdog
                receiver: "null"
              - match:
                  severity: info
                receiver: "null"
              - match:
                  alertname: InfoInhibitor
                receiver: "null"
          templates:
          - /etc/alertmanager/configmaps/alertmanager-telegram-template/telegram.tmpl
  data:
    - secretKey: token
      remoteRef:
        key: /alertmanager-telegram-forwarder/telegram
        property: token
