{% if inventory_hostname == groups['kube_control_plane'][0] %}
cluster-init: true
{% else %}
server: https://{{ hostvars[groups['kube_control_plane'][0]].ansible_hostname }}:6443
{% endif %}
kubelet-arg:
  - container-log-max-size=1Mi
  - container-log-max-files=2
{% for item in k3s_kubelet_extra_args %}
  - {{ item }}
{% endfor %}
token-file: {{ k3s_token_file }}
{% if 'kube_control_plane' in group_names %}
{{ k3s_server_config | to_nice_yaml }}
{% endif %}
