variant: fcos
version: 1.3.0

passwd:
  users:
    - name: root
      ssh_authorized_keys:
        - {{ ssh_public_key }}

storage:
  files:
    # Set hostname
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ hostvars[item]['inventory_hostname'] }}
    # Set static IP
    - path: /etc/NetworkManager/system-connections/{{ network_interface }}.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id={{ network_interface }}
          type=ethernet
          interface-name={{ network_interface }}
          permissions=
          [ipv4]
          address1={{ (hostvars[item]['ansible_host'] + '/' + ansible_default_ipv4.netmask) | ansible.netcommon.ipaddr('host/prefix') }},{{ ansible_default_ipv4.gateway }}
          dns={{ dns_server }};
          dns-search=
          method=manual
    # Make audit logs less verbose
    - path: /etc/sysctl.d/20-silence-audit.conf
      contents:
        inline: |
          kernel.printk=4
    # Fix flannel support
    - path: /etc/systemd/network/50-flannel.link
      contents:
        inline: |
          [Match]
          OriginalName=flannel*
          [Link]
          MACAddressPolicy=none
  links:
    # Set timezone
    - path: /etc/localtime
      target: /usr/share/zoneinfo/{{ timezone }}

systemd:
  units:
    # iSCSI for Longhorn distributed block storage
    - name: iscsid.service
      enabled: true
    # TODO (bug) ostree-remount bug workaround
    - name: ostree-remount.service
      enabled: true
      contents: |
        [Unit]
        Description=OSTree Remount OS/ Bind Mounts
        Documentation=man:ostree(1)
        DefaultDependencies=no
        ConditionKernelCommandLine=ostree
        OnFailure=emergency.target
        Conflicts=umount.target
        # Run after core mounts
        After=-.mount var.mount
        After=systemd-remount-fs.service
        # But we run *before* most other core bootup services that need write access to /etc and /var
        Before=local-fs.target umount.target
        Before=systemd-random-seed.service plymouth-read-write.service systemd-journal-flush.service
        Before=systemd-tmpfiles-setup.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStartPre=/usr/bin/sleep 10
        ExecStart=/usr/lib/ostree/ostree-remount
        StandardInput=null
        StandardOutput=journal
        StandardError=journal+console

        [Install]
        WantedBy=local-fs.target
{% if item == "metal0" %}
    # Terraform state backend
    - name: tfstate.service
      enabled: true
      contents: |
        [Unit]
        Description=Run etcd for Terraform state backend
        After=network-online.target
        Wants=network-online.target

        [Service]
        ExecStartPre=-/usr/bin/docker kill tfstate
        ExecStartPre=-/usr/bin/docker rm tfstate
        ExecStart=/usr/bin/docker run --name tfstate \
                    --volume tfstate:/bitnami/etcd/data \
                    --env ALLOW_NONE_AUTHENTICATION=yes \
                    --publish 23799:2379 \
                    --restart always \
                    bitnami/etcd
        ExecStop=/usr/bin/docker stop tfstate
        Restart=always

        [Install]
        WantedBy=multi-user.target
{% endif %}
